<ion-view title="Login" hide-back-button="true" id="page4" style="background-color:#F98866;">
    <ion-content padding="true" style="background: url(img/r8ARUjTSueNcnMml2zQ7_sitas-back.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="username">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="Usuario">
                </label>
                <label class="item item-input" name="password">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="login-button1" class="button button-positive  button-block">Log in</button>
            <a ui-sref="menu.signup" id="login-button2" class="button button-light  button-block button-clear">Or create an account</a>
        </form>
    </ion-content>
</ion-view>