<ion-view title="Signup" id="page5" style="background-color:#F98866;">
    <ion-content padding="true" style="background: url(img/UxBrOpYvQzOTiFfvP6a4_sitas-back.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="name">
                    <span class="input-label">Nombre</span>
                    <input type="text" placeholder="Tu nombre">
                </label>
                <label class="item item-input" name="email">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="algo@algo.com">
                </label>
                <label class="item item-select" name="sport">
                    <span class="input-label">Deporte</span>
                    <select>
                        <option>Futbol</option>
                        <option>Rugby</option>
                        <option>Hockey</option>
                        <option>Cestoball</option>
                        <option>Basquet</option>
                    </select>
                </label>
                <label class="item item-input" name="username">
                    <span class="input-label">Usuario</span>
                    <input type="text" placeholder="usuario">
                </label>
                <label class="item item-input" name="password">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <a ui-sref="menu.welcome" id="signup-button3" class="button button-positive  button-block">Sign up</a>
        </form>
    </ion-content>
</ion-view>