<ion-view title="Welcome" hide-nav-bar="true" hide-back-button="true" id="page1" style="background-color:#208B3E;">
    <ion-content padding="true" style="background: url(img/NKd7BQz9RGGoLCGlPZD2_sitas-back.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
        <div>
            <img src="img/Misc5LRTP2Y30tNOxLfY_sitas-top.png" width="400%" height="auto" style="display: block; margin-left: auto;">
        </div>
        <a ui-sref="menu.login" id="welcome-button4" class="button button-positive  button-block">Login</a>
        <a ui-sref="menu.signup" id="welcome-button5" style="color:#FFF;" class="button button-light  button-block button-clear">Create an account</a>
    </ion-content>
</ion-view>